.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
    
}
.profile-avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.background-image {
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.background-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.profile-section {
    margin-top: -50px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
}
h2 {
    font-size: 24px;
    margin-top: 10px;
}
.stats-container {
    display: flex;
    width: 80%;
    margin-top: 20px;
    justify-content: center;
}
.stat {
    text-align: center;
    margin: 0 20px; 
}
.stat h3 {
    font-size: 24px;
    margin: 0;
}
.stat p {
    margin: 0;
    color: gray;
    font-size: 14px;
}
.connect-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: green;
    color: white;
    width: 90%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.connect-btn:hover {
    background-color: darkgreen;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 90%;
}
.image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.image-container {
    position: relative;
}
.grid-image-placeholder {
    width: 100%;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-icon {
    cursor: pointer;
}
.add-icon:hover {
    fill: darkgreen;
}
.add-icon-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.file-input {
    display: none;
}